<a href="https://www.kaggle.com/code/chaitanyaugale/big-data-derby?scriptVersionId=108182988" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/big-data-derby-2022/nyra_tracking_table.csv
/kaggle/input/big-data-derby-2022/nyra_start_table.csv
/kaggle/input/big-data-derby-2022/nyra_race_table.csv
/kaggle/input/big-data-derby-2022/nyra_2019_complete.csv

In [2]:
nyra_track = pd.read_csv('../input/big-data-derby-2022/nyra_tracking_table.csv')
nyra_start = pd.read_csv('../input/big-data-derby-2022/nyra_start_table.csv')
nyra_race = pd.read_csv('../input/big-data-derby-2022/nyra_race_table.csv')
nyra_complete = pd.read_csv('../input/big-data-derby-2022/nyra_2019_complete.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
print('Count of Track Table : ',nyra_track.shape)
print('Count of Start Table : ',nyra_start.shape)
print('Count of Race Table : ',nyra_race.shape)
print('Count of Complete Race Table : ',nyra_complete.shape)

Count of Track Table :  (5228430, 7)
Count of Start Table :  (14914, 8)
Count of Race Table :  (2000, 10)
Count of Complete Race Table :  (5228429, 18)

In [4]:
nyra_track.head()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762

In [5]:
nyra_race.head()

,track_id,race_date,race_number,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time
0,AQU,2019-01-01,1,650,D,MY,36,AOC,80000,1220
1,AQU,2019-01-01,2,600,D,MY,48,MCL,41000,1250
2,AQU,2019-01-01,3,550,D,MY,54,MCL,35000,121
3,AQU,2019-01-01,4,900,D,MY,101,AOC,80000,150
4,AQU,2019-01-01,5,700,D,MY,60,ALW,64000,220

In [6]:
nyra_start.head()

   AQU  2019-01-01  1  1    123      Dylan Davis   130  2
0  AQU  2019-01-01  1  2    120  Junior Alvarado   295  3
1  AQU  2019-01-01  1  3    118     Jose Lezcano   180  4
2  AQU  2019-01-01  1  4    123     Jomar Garcia  1280  5
3  AQU  2019-01-01  1  5    118    Manuel Franco  1150  1
4  AQU  2019-01-01  2  1    121     Jose Lezcano   220  2

In [7]:
nyra_complete.head()

,AQU,2019-01-01,9,6,72,40.6729017197787,-73.8276065972899,600,D,GD,48,CLM,25000.00,00420,120,Andre Shivnarine Worrie,2090,8
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [8]:
# no column name is added on start and complete table
#adding column name for both tables

In [9]:
start_columns = ['track_id',
                 'race_date',
'race_number',
'program_number',
'weight_carried',
'jockey',
'odds',
'position_at_finish']

In [10]:
nyra_start.columns = start_columns

In [11]:
nyra_start.head()

,track_id,race_date,race_number,program_number,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,1,2,120,Junior Alvarado,295,3
1,AQU,2019-01-01,1,3,118,Jose Lezcano,180,4
2,AQU,2019-01-01,1,4,123,Jomar Garcia,1280,5
3,AQU,2019-01-01,1,5,118,Manuel Franco,1150,1
4,AQU,2019-01-01,2,1,121,Jose Lezcano,220,2

In [12]:
complete_columns = ['track_id',
                 'race_date',
'race_number',
'program_number',
'trakus_index','latitude','longitude','distance_id','course_type','track_condition','run_up_distance','race_type','purse','post_time',
'weight_carried',
'jockey',
'odds',
'position_at_finish']

In [13]:
nyra_complete.columns= complete_columns

In [14]:
nyra_complete.head()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,weight_carried,jockey,odds,position_at_finish
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [15]:
nyra_complete.isnull().sum()

track_id              0
race_date             0
race_number           0
program_number        0
trakus_index          0
latitude              0
longitude             0
distance_id           0
course_type           0
track_condition       0
run_up_distance       0
race_type             0
purse                 0
post_time             0
weight_carried        0
jockey                0
odds                  0
position_at_finish    0
dtype: int64

In [16]:
nyra_complete.nunique()

track_id                    3
race_date                 217
race_number                13
program_number             36
trakus_index             1062
latitude              5224783
longitude             5224798
distance_id                20
course_type                 5
track_condition             7
run_up_distance           127
race_type                  12
purse                      70
post_time                 360
weight_carried             35
jockey                    178
odds                      656
position_at_finish         14
dtype: int64